### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
file_path = os.path.join('Resources', 'purchase_data.csv')

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_path)

## Player Count

* Display the total number of players

In [2]:
#Create a dataframe with only unique ID's
unique_names_df = purchase_data_df.drop_duplicates(subset="SN", keep='first', inplace=False)
unique_items = len(purchase_data_df['Item Name'].unique())
average_purchase_price = purchase_data_df['Price'].mean()
total_purchases = purchase_data_df['Price'].count()
total_revenue = purchase_data_df['Price'].sum()
print(f'The Total Number of Players is {len(unique_names_df)}')

The Total Number of Players is 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:

print(f'The Number of Unique Items is {unique_items}')
print(f'The Average Purchase Price is {average_purchase_price}')
print(f'The Total Number of Purchases is {total_purchases}')
print(f'The Total Revenue is {total_revenue}')

The Number of Unique Items is 179
The Average Purchase Price is 3.0509871794871795
The Total Number of Purchases is 780
The Total Revenue is 2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
grouped_df =  unique_names_df.groupby(['Gender'])
gender_table = grouped_df[["Purchase ID"]].count()
gender_table.rename(columns={'Purchase ID':'Total Count'}, inplace=True)
gender_table['Percentage of Players'] = gender_table["Total Count"]/ gender_table["Total Count"].sum()
gender_table

                       Total Count  Percentage of Players
Gender
Female                          81               0.140625
Male                           484               0.840278
Other / Non-Disclosed           11               0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
grouped_df =  df.groupby(['SN'])
new = grouped_df.mean()
new.head()
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9,200]
group_names = ["<10", "10-14", "15-19",'20-24', '25-29', '30-34','35-39', '40+']
df_age = pd.cut(new["Age"], bins, labels=group_names)

df_age.value_counts()

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame