In [1]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
file_path = os.path.join('Resources', 'purchase_data.csv')

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_path)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#Create a dataframe with only unique ID's
unique_names_df = purchase_data_df.drop_duplicates(subset="SN", keep='first', inplace=False)
unique_items = len(purchase_data_df['Item Name'].unique())
average_purchase_price = purchase_data_df['Price'].mean()
total_purchases = purchase_data_df['Price'].count()
total_revenue = purchase_data_df['Price'].sum()

In [3]:
print(f'The Total Number of Players is {len(unique_names_df)}')
print(f'The Number of Unique Items is {unique_items}')
print(f'The Average Purchase Price is {average_purchase_price}')
print(f'The Total Number of Purchases is {total_purchases}')
print(f'The Total Revenue is {total_revenue}')

The Total Number of Players is 576
The Number of Unique Items is 179
The Average Purchase Price is 3.0509871794871795
The Total Number of Purchases is 780
The Total Revenue is 2379.77

In [4]:
grouped_df =  unique_names_df.groupby(['Gender'])
gender_table = grouped_df[["Purchase ID"]].count()
gender_table.rename(columns={'Purchase ID':'Total Count'}, inplace=True)
gender_table['Percentage of Players'] = gender_table["Total Count"]/ gender_table["Total Count"].sum()
gender_table

                       Total Count  Percentage of Players
Gender
Female                          81               0.140625
Male                           484               0.840278
Other / Non-Disclosed           11               0.019097